* {
    margin: 0;
    padding: 0;
}

:root {
    --drop-jumbo: #b4d0e7FF;
    --drop-button: #0160ffFF;
    --drop-button-text: #fefffeFF;
    --drop-designit: #f4f5f4FF;
    --drop-business-backg: #b4d0e7FF;
    --drop-footer-backg: #000000FF;
}

ul {
    list-style: none;
}

/* Header */

.site_header {
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
}

.right {
    display: flex;
    align-items: center;
}

.text {
    display: flex;
}

.logo {
    width: 120px;
    height: 30px;
    padding-right: 10px ;
}

.logo_text {
    display: flex;
    margin-right: 1em;
}

button {
    height: 30px;
    background-color: var(--drop-button);
    color: var(--drop-button-text);
    border: none;
}

ul.text li {
    margin-right: 1em;
}

ul.logo_text li {
    margin-right: 1em;
}

/* /Header */


/* Main */
.container {
    background-color: var(--drop-jumbo);
    height: 500px;
    display: flex;
    margin: auto;
}

.jumbo h1 {
    background-color: var(--drop-jumbo);
    font-size: 3em;
}

.img_text {
    width: 25%;
    margin-bottom: 2em;
}

.img_jumbo {
    width: 100%;
    margin-bottom: -4em;
}
.img_jumbo_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
hr{
    width: 50px;
}

.business{
    display: flex;
}
/* /Main */